<div fxFlexFill fxLayout="column" fxLayoutAlign="center stretch" class="login-background">
  <div fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="login-card mat-elevation-z8">

      <div fxLayout="column" fxFlexAlign="center center" fxFlex="100">
        <div fxLayout="column" fxLayoutAlign="start stretch" class="login-header">
          <mat-toolbar color="primary" id="toolbarHeader">
            <mat-progress-bar *ngIf="this.inLoading" id="progressBar" color="accent" [mode]="'indeterminate'" [value]="valueSpiner"
              [bufferValue]="bufferValue">
            </mat-progress-bar>
            <mat-toolbar-row>
            </mat-toolbar-row>

            <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx">
              <div class="mat-elevation-z4" id="ImgLayout">
              </div>
            </mat-toolbar-row>

            <mat-toolbar-row>

            </mat-toolbar-row>
          </mat-toolbar>

          <div fxLayout="column" fxLayoutAlign="start stretch">
            <form [formGroup]="this.form" class="form-layout">
              <div fxLayout="column" fxLayoutAlign="space-around stretch" class="p-3">

                <mat-form-field appearance="outline">
                  <mat-label>{{'Pin'}}</mat-label>
                  <input matInput placeholder="{{'Pin'}}" type="text" required [formControl]="form.controls['pin']">
                  <mat-error *ngIf="form.controls['pin'].hasError('required')">
                    {{'Pin'}}&nbsp;<strong>{{'is required'}}</strong>
                  </mat-error>
                </mat-form-field>


                <mat-form-field appearance="outline">
                  <mat-label>{{'Nueva contraseña'}}</mat-label>
                  <input matInput placeholder="{{'Nueva contraseña'}}" type="{{passType}}" required
                    [formControl]="fromPass.controls['password']">
                  <mat-icon style="cursor: pointer;" matSuffix class="grey-600" (click)="showPass()">remove_red_eye</mat-icon>
                  <mat-error *ngIf="fromPass.controls['password'].hasError('minlength')">
                    {{'Nueva contraseña'}} <strong>{{'must be at least 6 characters'}}</strong>
                  </mat-error>
                  <mat-error *ngIf="fromPass.hasError('mismatch')">
                    {{'Nueva contraseña'}} <strong>{{'deben ser iguales'}}</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline"
                  [ngClass]="{'mat-form-field-invalid': fromPass.hasError('mismatch'), 'ng-invalid': fromPass.hasError('mismatch'), 'ng-valid': !fromPass.hasError('mismatch')}">
                  <mat-label>{{'Repita la contraseña'}}</mat-label>
                  <input matInput placeholder="{{'Repita la contraseña'}}" required type="{{passType}}"
                    [ngClass]="{'ng-invalid': fromPass.hasError('mismatch')}" [formControl]="fromPass.controls['repeat']">
                  <mat-icon style="cursor: pointer;" matSuffix class="grey-600" (click)="showPass()">remove_red_eye</mat-icon>
                  <mat-error *ngIf="fromPass.hasError('mismatch')">
                    {{'Contraseña'}} <strong>{{'deben ser iguales'}}</strong>
                  </mat-error>
                </mat-form-field>



                <button mat-raised-button color="primary" class="RegisterBtn" [disabled]="form.invalid" (click)="onSubmit()">
                  <span class="uppercase color-white">{{'Confirm'}}</span>
                </button>

              </div>

            </form>
          </div>

        </div>


      </div>
    </mat-card>

  </div>
</div>
