<div class="container">
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="userFormGroup">
      <form *ngIf="userFormGroup" [formGroup]="userFormGroup">
        <ng-template matStepLabel>Información Básica</ng-template>
        <div class="my-3 d-flex justify-content-center align-items-center">
          <h4>Información Básica</h4>
        </div>
        <div class="row">
          <!-- Nombre -->
          <div class="col-lg-6 col-md-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Nombre:</mat-label>
              <input matInput formControlName="first_name" />
              <mat-error *ngIf="this.userFormGroup.controls['first_name'].invalid"> {{ 'El nombre es' }} <strong>requerido</strong> </mat-error>
            </mat-form-field>
          </div>

          <!-- Apellidos -->
          <div class="col-lg-6 col-md-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Apellidos:</mat-label>
              <input matInput formControlName="last_name" />
              <mat-error *ngIf="this.userFormGroup.controls['last_name'].invalid"> {{ 'El apellido es' }} <strong>requerido</strong> </mat-error>
            </mat-form-field>
          </div>

          <!-- Correo -->
          <div class="col-lg-6 col-md-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Correo:</mat-label>
              <input type="email" matInput formControlName="email" />
              <mat-error *ngIf="emailControl.errors?.required"> {{ 'El correo es' }} <strong>requerido</strong> </mat-error>
              <mat-error *ngIf="emailControl.errors?.pattern"> {{ 'El formato de correo es' }} <strong>incorrecto</strong> </mat-error>
            </mat-form-field>
          </div>

          <!-- Username -->
          <div class="col-lg-6 col-md-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Nombre de usuario:</mat-label>
              <input matInput formControlName="username" />
              <mat-error *ngIf="this.userFormGroup.controls['username'].invalid"> {{ 'El nombre de usuario es' }} <strong>requerido</strong> </mat-error>
            </mat-form-field>
          </div>

          <!-- is_staff -->
          <div class="col-12">
            <div class="w-100">
              <mat-checkbox formControlName="is_staff">Personal</mat-checkbox>
            </div>
          </div>

          <!-- is_active -->
          <div class="col-12">
            <div class="w-100">
              <mat-checkbox formControlName="is_active">Activo</mat-checkbox>
            </div>
          </div>

          <!-- is_superuser -->
          <div class="col-12 mb-3">
            <div class="w-100">
              <mat-checkbox formControlName="is_superuser">Administrador</mat-checkbox>
            </div>
          </div>

          <!-- Roles -->
          <div class="col-lg-6 col-md-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Grupo:</mat-label>
              <mat-select formControlName="groups" multiple>
                <mat-option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</mat-option>
              </mat-select>
              <mat-error *ngIf="this.userFormGroup.controls['groups'].invalid">Seleccione un Grupo</mat-error>
            </mat-form-field>
          </div>

          <!-- profesion -->
          <div class="col-lg-6 col-md-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Profesión:</mat-label>
              <mat-select formControlName="profesion">
                <mat-option *ngFor="let prof of professions" [value]="prof.id">{{ prof.nombre }}</mat-option>
              </mat-select>
              <mat-error *ngIf="userFormGroup.controls['profesion'].invalid"> {{ 'La Profesión es' }} <strong>requerida</strong> </mat-error>
            </mat-form-field>
          </div>

          <!-- Categoria Docente -->
          <div class="col-lg-6 col-md-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Categoría Docente</mat-label>
              <mat-select formControlName="categ_docente" multiple>
                <mat-option *ngFor="let cat of catDoncents" [value]="cat.id">{{ cat.descripcion }}</mat-option>
              </mat-select>
              <mat-error *ngIf="this.userFormGroup.controls['categ_docente'].invalid">Seleccione una Categoría Docente</mat-error>
            </mat-form-field>
          </div>

          <!-- Categoria Científica -->
          <div class="col-lg-6 col-md-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Categoria Científica</mat-label>
              <mat-select formControlName="categ_cientifica" multiple>
                <mat-option *ngFor="let cat of catSciences" [value]="cat.id">{{ cat.descripcion }}</mat-option>
              </mat-select>
              <mat-error *ngIf="this.userFormGroup.controls['categ_cientifica'].invalid">Seleccione una Categoria Científica</mat-error>
            </mat-form-field>
          </div>

          <!-- Especialidad -->
          <div class="col-lg-6 col-md-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Especialidades</mat-label>
              <mat-select formControlName="especialidad" multiple>
                <mat-option *ngFor="let specialty of specialties" [value]="specialty.id">{{ specialty.descripcion }}</mat-option>
              </mat-select>
              <mat-error *ngIf="this.userFormGroup.controls['categ_cientifica'].invalid">Seleccione una especialidad</mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Contraseña -->

        <div class="my-3 d-flex justify-content-center align-items-center">
          <h4>Seguridad</h4>
        </div>
        <!-- is_superuser -->
        <div *ngIf="user" class="col-12 mb-3">
          <div class="w-100">
            <mat-checkbox (change)="changePasswordControl($event)" formControlName="change_password">Cambiar Contraseña.</mat-checkbox>
          </div>
        </div>
        <div class="row" *ngIf="!user || userFormGroup.controls['change_password']?.value">
          <div class="col-lg-6 col-md-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input [type]="this.passwordType" matInput placeholder="Contraseña" #pass formControlName="password" name="password" />

              <mat-icon style="cursor: pointer" *ngIf="this.passwordType == 'password'" mat-icon-button matSuffix (click)="this.passwordType = 'text'"
                >visibility
              </mat-icon>

              <mat-icon style="cursor: pointer" *ngIf="this.passwordType == 'text'" mat-icon-button matSuffix (click)="this.passwordType = 'password'">
                visibility_off</mat-icon
              >
              <mat-error *ngIf="passwordControl.errors?.required"> {{ 'La contraseña es' }} <strong>requerido</strong> </mat-error>
              <mat-error *ngIf="passwordControl.errors?.lowercase == false"> {{ 'La contraseña tiene que contener letras Minúsculas' }} </mat-error>
              <mat-error *ngIf="passwordControl.errors?.uppercase == false"> {{ 'La contraseña tiene que contener letras Mayúsculas' }} </mat-error>
              <mat-error *ngIf="passwordControl.errors?.numeric == false"> {{ 'La contraseña tiene que contener números' }} </mat-error>
              <mat-error *ngIf="passwordControl.errors?.minlength"> {{ 'Su contraseña debe contener al menos 8 caracteres.' }} </mat-error>
              <mat-error *ngIf="passwordControl.errors?.onlyNumbers"> {{ 'Su contraseña no puede ser completamente numérica.' }} </mat-error>
              <mat-hint class="w-100">
                <span *ngIf="passwordContainNameValidation" class="text-danger"
                  >Su contraseña no puede ser muy similar a su otra información personal.<br
                /></span>
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Confirmar Contraseña</mat-label>
              <input [type]="this.passwordType" matInput placeholder="Repita la Contraseña" #pass formControlName="confirm_password" name="password" />

              <mat-error *ngIf="this.userFormGroup.controls['confirm_password'].invalid"> {{ 'La confirmación es' }} <strong>requerido</strong> </mat-error>
              <mat-hint *ngIf="passwordDontMatch" class="w-100">
                <span class="text-danger">La confirmación debe ser igual a la contraseña</span>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <button [disabled]="passwordDontMatch" color="primary" mat-raised-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="personFormGroup" label="Informácion personal y de contacto">
      <form *ngIf="personFormGroup" [formGroup]="personFormGroup">
        <ng-template matStepLabel>Informácion personal y de contacto</ng-template>
        <div class="my-3 d-flex justify-content-center align-items-center">
          <h4>Informácion personal y de contacto</h4>
        </div>
        <div class="row">
          <div class="d-flex justify-content-center my-3">
            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutAlign.lt-sm="start stretch" class="mb-2">
              <div
                *ngIf="loadImage"
                class="avatar-profile mat-elevation-z4"
                fxFlex="row"
                fxLayoutAlign="center center"
                style="background-size: cover; background-position: center center; flex: none"
                [style.background-image]="this.utilsService.getSafeImage(imageAvatar)"
              >
                <button id="photoCameraBtn" mat-icon-button (click)="openFileBrowser($event)">
                  <mat-icon style="color: white" aria-label="Example icon-button with a heart icon"> photo_camera </mat-icon>
                </button>
              </div>
              <div *ngIf="!loadImage" class="avatar-profile" fxFlex="row" fxLayoutAlign="center center">
                <mat-icon class="avatar-icon">person_outline</mat-icon>

                <button id="photoCameraBtn" style="position: absolute" mat-icon-button (click)="openFileBrowser($event)">
                  <mat-icon style="color: white" aria-label="Example icon-button with a heart icon"> photo_camera </mat-icon>
                </button>
              </div>
              <mat-error *ngIf="showErrorImage"> La imagen sobrepasa los <strong>500 Kb</strong> </mat-error>
              <input type="file" class="hide-style" id="filePicker" (change)="handleFileSelect($event)" />
            </div>
          </div>

          <!-- Código de identificación -->
          <div class="col-lg-6 col-md-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Código de identificación:</mat-label>
              <input matInput formControlName="nro_identificacion" (ngModelChange)="changeIdentificationCode($event)" />
              <mat-error *ngIf="personFormGroup.controls['nro_identificacion'].invalid">
                {{ 'El código de identificación es' }} <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <!-- tipo_doc -->
          <div class="col-lg-6 col-md-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Tipo de Documento:</mat-label>
              <mat-select formControlName="tipo_doc">
                <mat-option *ngFor="let doc of docTypes" [value]="doc.id">{{ doc.descripcion }}</mat-option>
              </mat-select>
              <mat-error *ngIf="personFormGroup.controls['tipo_doc'].invalid">Seleccione un Documento</mat-error>
            </mat-form-field>
          </div>

          <!-- Fecha de Nacimiento -->
          <div class="col-lg-6 col-md-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Fecha de Nacimiento</mat-label>
              <input matInput formControlName="fecha_nacimiento" [matDatepicker]="picker" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="personFormGroup.controls['fecha_nacimiento'].errors?.required">
                {{ 'La fecha de nacimiento es ' }} <strong>requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- sexo -->
          <mat-radio-group class="my-3" aria-label="Sexo:" formControlName="sexo">
            <mat-radio-button class="mr-3" value="1"
              ><div class="d-flex justify-content-center align-items-center">
                <mat-icon aria-hidden="false">female</mat-icon>
                <p>Femenino</p>
              </div></mat-radio-button
            >
            <mat-radio-button value="2"
              ><div class="d-flex justify-content-center align-items-center">
                <mat-icon aria-hidden="false">male</mat-icon>
                <p>Masculino</p>
              </div></mat-radio-button
            >
            <mat-error *ngIf="personFormGroup.controls['sexo'].errors?.required"> {{ 'Seleccione un sexo ' }} </mat-error>
          </mat-radio-group>
        </div>

        <div class="card p-3">
          <h5>Dirección y Contacto</h5>
          <div class="row" *ngIf="personFormGroup" [formGroup]="personFormGroup">
            <!-- nacionalidad -->
            <div class="col-lg-6 col-md-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Nacionalidad:</mat-label>
                <mat-select formControlName="nacionalidad">
                  <mat-option *ngFor="let nationality of nationalities" [value]="nationality.id">{{ nationality.descripcion }}</mat-option>
                </mat-select>
                <mat-error *ngIf="personFormGroup.controls['nacionalidad'].errors?.required">
                  {{ 'La nacionalidad es ' }} <strong>requerida</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <!-- municipio -->
            <div class="col-lg-6 col-md-12">
              <ng-select
                appearance="outline"
                class="custom w-100"
                placeholder="Distrito:"
                [items]="municipalities"
                bindLabel="nombre"
                bindValue="id"
                formControlName="municipio"
              >
              </ng-select>
              <small
                class="text-danger error-style"
                *ngIf="personFormGroup.controls['municipio'].errors?.required && personFormGroup.controls['municipio'].dirty"
                >El distrito es <strong>requerido</strong></small
              >
            </div>

            <!-- direccion -->
            <div class="col-lg-6 col-md-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Dirección:</mat-label>
                <input matInput formControlName="direccion" />
                <mat-error *ngIf="personFormGroup.controls['direccion'].invalid"> {{ 'La dirección es' }} <strong>requerida</strong> </mat-error>
              </mat-form-field>
            </div>

            <!-- numero -->
            <div class="col-lg-6 col-md-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Código:</mat-label>
                <input matInput formControlName="numero" />
                <mat-error *ngIf="personFormGroup.controls['numero'].errors?.required"> {{ 'El código es ' }} <strong>requerido</strong> </mat-error>
              </mat-form-field>
            </div>

            <!-- cod_postal -->
            <div class="col-lg-6 col-md-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Código Postal:</mat-label>
                <input matInput formControlName="cod_postal" />
                <mat-error *ngIf="personFormGroup.controls['cod_postal'].errors?.required"> {{ 'El Código Postal es ' }} <strong>requerido</strong> </mat-error>
              </mat-form-field>
            </div>

            <!-- nombre_madre -->
            <div class="col-lg-6 col-md-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Nombre Madre:</mat-label>
                <input matInput formControlName="nombre_madre" />
                <mat-error *ngIf="personFormGroup.controls['nombre_madre'].errors?.required">
                  {{ 'El Nombre de la  Madre es ' }} <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <!-- nombre_padre -->
            <div class="col-lg-6 col-md-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Nombre del Padre:</mat-label>
                <input matInput formControlName="nombre_padre" />
                <mat-error *ngIf="personFormGroup.controls['nombre_padre'].errors?.required">
                  {{ 'El Nombre del Padre es ' }} <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <!-- contacto_emergencia -->
            <div class="col-lg-6 col-md-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Contacto de emergencia:</mat-label>
                <input matInput formControlName="contacto_emergencia" />
                <mat-error *ngIf="personFormGroup.controls['contacto_emergencia'].errors?.required">
                  {{ 'El Contacto de emergencia es ' }} <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <!-- telefono_emergencia -->
            <div class="col-lg-6 col-md-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Teléfono de Emergencia:</mat-label>
                <input matInput formControlName="telefono_emergencia" />
                <mat-error *ngIf="personFormGroup.controls['telefono_emergencia'].errors?.required">
                  {{ 'El Teléfono de Emergencia es ' }} <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <!-- telefono_casa -->
            <div class="col-lg-6 col-md-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Teléfono de casa:</mat-label>
                <input matInput formControlName="telefono_casa" />
                <mat-error *ngIf="personFormGroup.controls['telefono_casa'].errors?.required">
                  {{ 'El Teléfono de casa es ' }} <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <!-- telefono_trabajo -->
            <div class="col-lg-6 col-md-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Teléfono del Trabajo:</mat-label>
                <input matInput formControlName="telefono_trabajo" />
                <mat-error *ngIf="personFormGroup.controls['telefono_trabajo'].invalid">
                  {{ 'El Teléfono del trabajo es' }} <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <!-- telefono_movil -->
            <div class="col-lg-6 col-md-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Teléfono movil:</mat-label>
                <input matInput formControlName="telefono_movil" />
                <mat-error *ngIf="personFormGroup.controls['telefono_movil'].invalid"> {{ 'El Teléfono movil es' }} <strong>requerido</strong> </mat-error>
              </mat-form-field>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <button color="primary" mat-raised-button matStepperPrevious>Atras</button>
                <button color="primary" mat-raised-button matStepperNext>Siguiente</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirmación</ng-template>
      <div class="my-3 d-flex justify-content-center align-items-center">
        <h4>Confirme los datos del usuario</h4>
      </div>
      <div *ngIf="userFormGroup && personFormGroup" class="row">
        <div class="col-lg-6 col-md-12">
          <h5>Información Básica</h5>
          <div class="card p-3">
            <p class="my-2">
              Nombre: <b>{{ userFormGroup.controls['first_name'].value }}</b>
            </p>
            <p class="my-2">
              Apellidos: <b>{{ userFormGroup.controls['last_name'].value }}</b>
            </p>
            <p class="my-2">
              Correo: <b>{{ userFormGroup.controls['email'].value }}</b>
            </p>
            <p class="my-2">
              Nombre de Usuario: <b>{{ userFormGroup.controls['username'].value }}</b>
            </p>
            <div class="d-flex my-2">
              <p>Activo:</p>
              <mat-icon class="mx-2" *ngIf="userFormGroup.controls['username'].value" aria-hidden="false">done</mat-icon>
              <mat-icon class="mx-2" *ngIf="!userFormGroup.controls['username'].value" aria-hidden="false">close</mat-icon>
            </div>
            <div class="d-flex my-2">
              <p>Personal:</p>
              <mat-icon class="mx-2" *ngIf="userFormGroup.controls['is_staff'].value" aria-hidden="false">done</mat-icon>
              <mat-icon class="mx-2" *ngIf="!userFormGroup.controls['is_staff'].value" aria-hidden="false">close</mat-icon>
            </div>
            <div class="d-flex my-2">
              <p>Administrador:</p>
              <mat-icon class="mx-2" *ngIf="userFormGroup.controls['is_superuser'].value" aria-hidden="false">done</mat-icon>
              <mat-icon class="mx-2" *ngIf="!userFormGroup.controls['is_superuser'].value" aria-hidden="false">close</mat-icon>
            </div>
            <p class="my-2">
              Profesión: <b>{{ userFormGroup.controls['profesion'].value }}</b>
            </p>
            <p class="my-2" *ngIf="userFormGroup.controls['groups']?.value">
              Grupo: <b>{{ roles[userFormGroup.controls['groups']?.value]?.name }}</b>
            </p>
            <p class="my-2" *ngIf="userFormGroup.controls['categ_docente']?.value">
              Categoría Docente: <b>{{ catDoncents[userFormGroup.controls['categ_docente']?.value]?.descripcion }}</b>
            </p>
            <p class="my-2" *ngIf="userFormGroup.controls['categ_cientifica']?.value">
              Categoría Científica: <b>{{ catSciences[userFormGroup.controls['categ_cientifica']?.value]?.descripcion }}</b>
            </p>
            <p class="my-2" *ngIf="userFormGroup.controls['especialidad']?.value">
              Especialidad: <b>{{ specialties[userFormGroup.controls['especialidad']?.value]?.descripcion }}</b>
            </p>
          </div>
        </div>

        <div class="col-lg-6 col-md-12">
          <h5>Información Personal y de contacto</h5>
          <div class="card p-3">
            <p class="my-2">
              Código de Identificación: <b>{{ personFormGroup.controls['nro_identificacion'].value }}</b>
            </p>
            <p class="my-2">
              Fecha de Nacimiento: <b>{{ personFormGroup.controls['fecha_nacimiento'].value | date: 'dd/MM/yyyy' }}</b>
            </p>
            <div class="d-flex my-2">
              <p>Sexo:</p>
              <mat-icon class="mx-2" *ngIf="personFormGroup.controls['sexo'].value == 1" aria-hidden="false">famale</mat-icon>
              <mat-icon class="mx-2" *ngIf="personFormGroup.controls['sexo'].value == 2" aria-hidden="false">male</mat-icon>
            </div>

            <p class="my-2" *ngIf="personFormGroup.controls['tipo_doc'].value">
              Tipo de Documento: <b>{{ docTypes[personFormGroup.controls['tipo_doc']?.value]?.descripcion }}</b>
            </p>

            <p class="my-2" *ngIf="personFormGroup.controls['nacionalidad'].value">
              Categoría Científica: <b>{{ nationalities[personFormGroup.controls['nacionalidad']?.value]?.descripcion }}</b>
            </p>

            <p class="my-2" *ngIf="personFormGroup.controls['direccion'].value">
              Dirección: <b>{{ personFormGroup.controls['direccion'].value }}</b>
            </p>

            <p class="my-2" *ngIf="personFormGroup.controls['numero'].value">
              Código: <b>{{ personFormGroup.controls['numero'].value }}</b>
            </p>

            <p class="my-2" *ngIf="personFormGroup.controls['cod_postal'].value">
              Código Postal: <b>{{ personFormGroup.controls['cod_postal'].value }}</b>
            </p>

            <p class="my-2" *ngIf="personFormGroup.controls['nombre_madre'].value">
              Nombre de la madre: <b>{{ personFormGroup.controls['nombre_madre'].value }}</b>
            </p>

            <p class="my-2" *ngIf="personFormGroup.controls['nombre_padre'].value">
              Nombre del Padre: <b>{{ personFormGroup.controls['nombre_padre'].value }}</b>
            </p>

            <p class="my-2" *ngIf="personFormGroup.controls['telefono_emergencia'].value">
              Télefono de emergencia: <b>{{ personFormGroup.controls['telefono_emergencia'].value }}</b>
            </p>
            <p class="my-2" *ngIf="personFormGroup.controls['telefono_casa'].value">
              Télefono de la Casa: <b>{{ personFormGroup.controls['telefono_casa'].value }}</b>
            </p>
            <p class="my-2" *ngIf="personFormGroup.controls['telefono_trabajo'].value">
              Télefono del Trabajo: <b>{{ personFormGroup.controls['telefono_trabajo'].value }}</b>
            </p>
            <p class="my-2" *ngIf="personFormGroup.controls['telefono_movil'].value">
              Télefono Movil: <b>{{ personFormGroup.controls['telefono_movil'].value }}</b>
            </p>
          </div>
        </div>

        <div class="d-flex justify-content-end" *ngIf="personFormGroup && qrCodeControl?.value">
          <img class="qr-image" [src]="apiUrl + qrCodeControl?.value" [alt]="apiUrl + qrCodeControl?.value" />
        </div>
      </div>

      <div class="d-flex justify-content-between mt-3">
        <button color="primary" mat-raised-button matStepperPrevious>Atras</button>
        <button color="primary" mat-raised-button mat-button [disabled]="!userFormGroup.valid || !personFormGroup.valid" (click)="sendData()">
          {{ user && person ? 'Editar' : 'Crear' }}
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
