<div class="form">
  <h4>{{ data.healthUnit ? 'Editar Unidad de Salud' : 'Crear Unidad de Salud' }}</h4>
  <mat-divider class="my-4"></mat-divider>
  <form *ngIf="healthUnitForm" [formGroup]="healthUnitForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Nombre:</mat-label>
      <input matInput formControlName="nombre" />
      <mat-error *ngIf="nameHealtControl.errors?.required"> {{ 'El nombre es' }} <strong>requerido</strong> </mat-error>
      <mat-error *ngIf="nameHealtControl.errors?.pattern"> {{ 'El nombre solo permite letras y espacios' }} </mat-error>
    </mat-form-field>

    <div class="mb-4">
      <ng-select appearance="outline" class="custom w-100" placeholder="Ubicación" [items]="levels" bindLabel="nombre" bindValue="id" formControlName="nivel">
      </ng-select>
      <small class="text-success error-style" *ngIf="data.healthUnit">Ubicacion: {{data.healthUnit.ubicacion}}</small>
      <small class="text-danger error-style" *ngIf="healthUnitForm.controls['nivel'].errors?.required && healthUnitForm.controls['nivel'].dirty"
        >El nivel es <strong>requerido</strong></small
      >

    </div>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Teléfono fijo:</mat-label>
      <input matInput formControlName="telefono_fijo" />
      <mat-error *ngIf="this.healthUnitForm.controls['telefono_fijo'].invalid"> {{ 'El teléfono fijo es' }} <strong>requerida</strong></mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Teléfono Móvil:</mat-label>
      <input matInput formControlName="telefono_movil" />
      <mat-error *ngIf="this.healthUnitForm.controls['telefono_movil'].invalid"> {{ 'La teléfono móvil es' }} <strong>requerida</strong></mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Dirección:</mat-label>
      <input matInput formControlName="direccion" />
      <mat-error *ngIf="this.healthUnitForm.controls['direccion'].invalid"> {{ 'La direccion es' }} <strong>requerida</strong></mat-error>
    </mat-form-field>
  </form>
  <mat-divider class="my-4"></mat-divider>
  <div class="d-flex align-items-center justify-content-end">
    <button (click)="onCancel()" mat-raised-button color="default" class="button mx-2">Cancelar</button>
    <button (click)="onSubmit(healthUnitForm.value)" [disabled]="!healthUnitForm.valid" mat-raised-button color="primary" class="button">
      {{ data.healthUnit ? 'Aceptar' : 'Crear' }}
    </button>
  </div>
</div>
