<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center">
    <h4>Unidad de salud</h4>
    <!-- <button (click)="createRole()" mat-raised-button color="primary" class="button">Crear Rol</button> -->
  </div>
  <!-- <app-custom-table
    *ngIf="roles"
    [data]="roles"
    [dataCount]="dataCount"
    [displayedColumns]="configuration.displayedColumns"
    [columnsName]="configuration.columnsName"
    [paginationSize]="configuration.paginationSize"
    [filters]="configuration.tableFilters"
    [rowActionButtons]="rowActionButtons"
    [loading]="loading"
    (changePage)="onChangePage($event)"
    (changeFilter)="onChangeFilter($event)"
    (changeSort)="onChangeSort($event)"
  ></app-custom-table> -->
</div>
