<div class="form">
  <h4>{{ data.purchaseFacture ? 'Editar Factura de Compra' : 'Crear Factura de Compra' }}</h4>
  <mat-divider class="my-4"></mat-divider>
  <form *ngIf="purchaseFactureForm" [formGroup]="purchaseFactureForm">
    <div class="row">
      <div class="col-lg-4 col-md-12">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Número Factura:</mat-label>
      <input matInput formControlName="nro_factura" />
      <mat-error *ngIf="this.nrofacturaControl.errors?.required"> {{ 'El número de Factura es' }} <strong>requerido</strong>  </mat-error>
   </mat-form-field>
   </div>
   <div class="col-lg-4 col-md-12">
   <mat-form-field class="w-100" appearance="outline">
    <mat-label>Importe Total:</mat-label>
    <input matInput formControlName="importe_total" />
    <mat-error *ngIf="this.importeTotalControl.errors?.required"> {{ 'El importe total es' }} <strong>requerido</strong>  </mat-error>
  </mat-form-field>
</div>
<div class="col-lg-4 col-md-12">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Descuento:</mat-label>
    <input matInput formControlName="descuento" />
  </mat-form-field>
</div>
    <div class="col-lg-6 col-md-12">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Fecha de Emisióm</mat-label>
        <input matInput formControlName="fecha_emision" [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="emisionControl.errors?.required">
          {{ 'La fecha de emisión es ' }} <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-md-12">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Fecha de Entrega</mat-label>
        <input matInput formControlName="fecha_entrega" [matDatepicker]="picker1" />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="entregaControl.errors?.required">
          {{ 'La fecha de entrega es ' }} <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-12">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Arancel:</mat-label>
      <input matInput formControlName="arancel" />
    </mat-form-field>
  </div>
  <div class="col-lg-4 col-md-12">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Comentarios:</mat-label>
      <input matInput formControlName="comentarios" />
      <mat-error *ngIf="this.comentariosControl.errors?.required"> {{ 'Los comentarios son' }} <strong>requerido</strong>  </mat-error>
    </mat-form-field>
  </div>
  <div class="col-lg-4 col-md-12">
  <!-- Operación COmercial -->
  <div class="mb-4">
    <ng-select
      appearance="outline"
      class="custom w-100"
      placeholder="Operación Comercial"
      [items]="operacion_comercial"
      bindLabel="descripcion"
      bindValue="id"
      formControlName="operacion_comercial">
    </ng-select>
    <small class="text-danger error-style" *ngIf="operacionControl.errors?.required && operacionControl.dirty">
      El campo operación comercial es <strong>requerido</strong></small>
  </div>
</div>
<div class="col-lg-4 col-md-12">
   <!-- Estado -->
   <div class="mb-4">
    <ng-select
      appearance="outline"
      class="custom w-100"
      placeholder="Estado"
      [items]="estado"
      bindLabel="descripcion"
      bindValue="id"
      formControlName="estado">
    </ng-select>
    <small class="text-danger error-style" *ngIf="estadoControl.errors?.required && estadoControl.dirty">
      El campo estado es <strong>requerido</strong></small>
  </div>
</div>
<div class="col-lg-4 col-md-12">
     <!-- Comercial -->
     <div class="mb-4">
      <ng-select
        appearance="outline"
        class="custom w-100"
        placeholder="Comercial"
        [items]="comercial"
        bindLabel="first_name"
        bindValue="id"
        formControlName="comercial">
      </ng-select>
      <small class="text-danger error-style" *ngIf="comercialControl.errors?.required && comercialControl.dirty">
        El campo comercial es <strong>requerido</strong></small>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
  <!-- Compre -->
  <div class="mb-4">
   <ng-select
     appearance="outline"
     class="custom w-100"
     placeholder="Compra"
     [items]="compra"
     bindLabel="numero"
     bindValue="id"
     formControlName="compra">
   </ng-select>
   <small class="text-danger error-style" *ngIf="compraControl.errors?.required && compraControl.dirty">
     El campo compra es <strong>requerido</strong></small>
 </div>
</div>
</div>
  </form>
  <mat-divider class="my-4"></mat-divider>
  <div class="d-flex align-items-center justify-content-end">
    <button (click)="onCancel()" mat-raised-button color="default" class="button mx-2">Cancelar</button>
    <button color="primary" mat-raised-button mat-button [disabled]="!purchaseFactureForm.valid" (click)="sendData()">
      {{ data.purchaseFacture ? 'Aceptar' : 'Crear' }}
    </button>
  </div>
</div>
