<div class="form">
  <h4>{{ data.metaField ? 'Editar Campo Dinámico' : 'Crear Campo Dinámico' }}</h4>
  <mat-divider class="my-4"></mat-divider>
  <form *ngIf="metaFieldForm" [formGroup]="metaFieldForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Tipo:</mat-label>
      <mat-select #mySelect formControlName="mf_datatype">
        <mat-option *ngFor="let nomenclator of nomenclatorTypes" [value]="nomenclator.id">{{ nomenclator.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="this.metaFieldForm.controls['mf_datatype'].invalid"> {{ 'El tipo es' }} <strong>requerido</strong> </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Caracteres Válidos:</mat-label>
      <input matInput type="number" formControlName="mf_validchars"  max="255" min="1" maxlength="3"/>
      <mat-error *ngIf="this.metaFieldForm.controls['mf_validchars'].errors?.required"> {{ 'Los Caracteres Válidos son' }} <strong>requeridos</strong> </mat-error>
      <mat-error *ngIf="this.metaFieldForm.controls['mf_validchars'].errors?.max"> {{ 'Máximo de 255 caracteres.' }} </mat-error>
      <mat-error *ngIf="this.metaFieldForm.controls['mf_validchars'].errors?.min"> {{ 'Mínimo de 1 caracteres.' }} </mat-error>
    </mat-form-field>
  </form>
  <mat-divider class="my-4"></mat-divider>
  <div class="d-flex align-items-center justify-content-end">
    <button (click)="onCancel()" mat-raised-button color="default" class="button mx-2">Cancelar</button>
    <button (click)="onSubmit(metaFieldForm.value)" [disabled]="!metaFieldForm.valid" mat-raised-button color="primary" class="button">
      {{ data.metaField ? 'Aceptar' : 'Crear' }}
    </button>
  </div>
</div>
