<div class="form">
  <h4>{{ data.metaField ? 'Editar Campo Dinámico' : 'Crear Campo Dinámico' }}</h4>
  <mat-divider class="my-4"></mat-divider>
  <form *ngIf="metaFieldForm" [formGroup]="metaFieldForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Tipo:</mat-label>
      <input matInput formControlName="mf_datatype" />
      <mat-error *ngIf="this.metaFieldForm.controls['mf_datatype'].invalid"> {{ 'El tipo es' }} <strong>requerido</strong> </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Caracteres Válidos:</mat-label>
      <input matInput formControlName="mf_validchars" />
      <mat-error *ngIf="this.metaFieldForm.controls['mf_validchars'].invalid"> {{ 'Los Caracteres Válidos son' }} <strong>requeridos</strong> </mat-error>
    </mat-form-field>
  </form>
  <mat-divider class="my-4"></mat-divider>
  <div class="d-flex align-items-center justify-content-end">
    <button (click)="onCancel()" mat-raised-button color="default" class="button mx-2">Cancelar</button>
    <button (click)="onSubmit(metaFieldForm.value)" [disabled]="!metaFieldForm.valid" mat-raised-button color="primary" class="button">
      {{ data.metaField ? 'Aceptar' : 'Crear' }}
    </button>
  </div>
</div>
