<div class="form">


    <h4 class="my-1" *ngIf="data.dataclinicHistoryStaticPin?.paciente">
        Inserte el Pin del Paciente: <b>{{ data.dataclinicHistoryStaticPin.paciente}}</b>
    </h4>

    <form *ngIf="clinicHistoryStaticPin" [formGroup]="clinicHistoryStaticPin">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Pin:</mat-label>
            <input matInput formControlName="paciente_pin" type="password" maxlength="4" />
            <mat-error *ngIf="this.paciente_pinControl.errors?.required"> {{ 'El pin es:' }}
                <strong>incorrecto</strong>
            </mat-error>
        </mat-form-field>
    </form>
   
    <div class="d-flex align-items-center justify-content-center">
        <button (click)="onSubmit(clinicHistoryStaticPin.value)" [disabled]="!clinicHistoryStaticPin.valid"
            mat-raised-button color="primary" class="button">
            Aceptar
        </button>
    </div>
</div>