<div class="form">
  <h4>{{ data.purchase ? 'Editar Compra' : 'Crear Compra' }}</h4>
  <mat-divider class="my-4"></mat-divider>
  <form *ngIf="purchaseForm" [formGroup]="purchaseForm">
    <div class="row">
      <div class="col-lg-4 col-md-12">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Número:</mat-label>
      <input type="number" matInput formControlName="numero" />
      <mat-error *ngIf="this.numeroControl.errors?.required"> {{ 'El número es' }} <strong>requerido</strong>  </mat-error>
   </mat-form-field>
   </div>
   <div class="col-lg-4 col-md-12">
   <mat-form-field class="w-100" appearance="outline">
    <mat-label>Número Control:</mat-label>
    <input type="number" matInput formControlName="nro_control" />
    <mat-error *ngIf="this.nro_controlControl.errors?.required"> {{ 'El número de control es' }} <strong>requerido</strong>  </mat-error>
  </mat-form-field>
</div>
    <div class="col-lg-4 col-md-12">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput formControlName="fecha" [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="fechaControl.errors?.required">
          {{ 'La fecha es ' }} <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-12">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Comentario:</mat-label>
      <input matInput formControlName="comentario" />
      <mat-error *ngIf="this.comentarioControl.errors?.required"> {{ 'Los comentarios son' }} <strong>requerido</strong>  </mat-error>
    </mat-form-field>
  </div>
  <div class="col-lg-4 col-md-12">
  <!-- Almacén -->
  <div class="mb-4">
    <ng-select
      appearance="outline"
      class="custom w-100"
      placeholder="Almacen"
      [items]="almacen"
      bindLabel="nombre"
      bindValue="id"
      formControlName="almacen">
    </ng-select>
    <small class="text-danger error-style" *ngIf="almacenControl.errors?.required && almacenControl.dirty">
      El campo almacen es <strong>requerido</strong></small>
  </div>
</div>
<div class="col-lg-4 col-md-12">
   <!-- Estado -->
   <div class="mb-4">
    <ng-select
      appearance="outline"
      class="custom w-100"
      placeholder="Estado"
      [items]="estado"
      bindLabel="descripcion"
      bindValue="id"
      formControlName="estado">
    </ng-select>
    <small class="text-danger error-style" *ngIf="estadoControl.errors?.required && estadoControl.dirty">
      El campo estado es <strong>requerido</strong></small>
  </div>
</div>
<div class="col-lg-4 col-md-12">
     <!-- Usuario -->
     <div class="mb-4">
      <ng-select
        appearance="outline"
        class="custom w-100"
        placeholder="Usuario"
        [items]="usuario"
        bindLabel="first_name"
        bindValue="id"
        formControlName="usuario">
      </ng-select>
      <small class="text-danger error-style" *ngIf="usuarioControl.errors?.required && usuarioControl.dirty">
        El campo usuario es <strong>requerido</strong></small>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
      <!-- Tipo Movimiento -->
      <div class="mb-4">
        <ng-select
          appearance="outline"
          class="custom w-100"
          placeholder="Tipo Movimiento"
          [items]="tipo_movimiento"
          bindLabel="descripcion"
          bindValue="id"
          formControlName="tipo_de_movimiento">
        </ng-select>
        <small class="text-danger error-style" *ngIf="tipo_movControl.errors?.required && tipo_movControl.dirty">
          El campo tipo de movimineto es <strong>requerido</strong></small>
      </div>
    </div>
    </div>
  </form>
  <mat-divider class="my-4"></mat-divider>
  <div class="d-flex align-items-center justify-content-end">
    <button (click)="onCancel()" mat-raised-button color="default" class="button mx-2">Cancelar</button>
    <button color="primary" mat-raised-button mat-button [disabled]="!purchaseForm.valid" (click)="sendData()">
      {{ data.purchase ? 'Aceptar' : 'Crear' }}
    </button>
  </div>
</div>
