<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center">
    <h4>Indicador Variable</h4>
    <button (click)="createVariableIndicator()" mat-raised-button color="primary" class="button">Crear Indicador Variable</button>
  </div>
  <app-custom-table
    *ngIf="variableIndicator"
    [data]="variableIndicator"
    [dataCount]="dataCount"
    [displayedColumns]="configuration.displayedColumns"
    [columnsName]="configuration.columnsName"
    [paginationSize]="configuration.paginationSize"
    [filters]="configuration.tableFilters"
    [rowActionButtons]="rowActionButtons"
    [loading]="loading"
    (changePage)="onChangePage($event)"
    (changeFilter)="onChangeFilter($event)"
    (changeSort)="onChangeSort($event)"
  ></app-custom-table>
</div>
