<div class="form container my-4">
  <h4>{{ stockMove ? 'Editar Movimiento' : 'Crear Movimiento' }}</h4>
  <mat-divider class="my-4"></mat-divider>
  <h5 *ngIf="user" class="my-2">
    Usuario: <b>{{ user.first_name }} {{ user.last_name }}</b>
  </h5>
  <form *ngIf="stockMoveForm" [formGroup]="stockMoveForm">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Almacén</mat-label>
          <mat-select #mySelect formControlName="almacen">
            <mat-option *ngFor="let st of stocks" [value]="st.id">{{ st.nombre }}</mat-option>
          </mat-select>
          <mat-error *ngIf="almacenControl.errors?.required"> {{ 'Seleccione un Almacén' }} </mat-error>
        </mat-form-field>
      </div>

      <!-- Fecha -->
      <div class="col-lg-3 col-md-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Fecha</mat-label>
          <input matInput formControlName="fecha" [matDatepicker]="picker" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="fechaControl.errors?.required"> {{ 'La fecha es' }} <strong>requerida</strong> </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-3 col-md-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Número</mat-label>
          <input matInput type="number" formControlName="numero" maxlength="10" />
          <mat-error *ngIf="numeroControl.errors?.required"> {{ 'El número es' }} <strong>requerido</strong> </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-4 col-md-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Categoría</mat-label>
          <mat-select (selectionChange)="changeCategory($event.value)" #mySelect formControlName="categoria">
            <mat-option *ngFor="let item of categories" [value]="item.id">{{ item.descripcion }}</mat-option>
          </mat-select>
          <mat-error *ngIf="categoriaControl.errors?.required"> {{ 'Seleccione una Categoría' }} </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-4 col-md-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Tipo de movimiento</mat-label>
          <mat-select #mySelect formControlName="tipo_de_movimiento">
            <mat-option *ngFor="let item of filteredMoveTypes" [value]="item.id">{{ item.descripcion }}</mat-option>
          </mat-select>
          <mat-error *ngIf="tipo_de_movimientoControl.errors?.required"> {{ 'Seleccione un Tipo de movimiento' }} </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-4 col-md-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Número de control</mat-label>
          <input matInput formControlName="nro_control" maxlength="100" />
          <mat-error *ngIf="nro_controlControl.errors?.required"> {{ 'El número de control es ' }} <strong>requerido</strong> </mat-error>
        </mat-form-field>
      </div>

      <div class="col-11">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Comentario</mat-label>
          <textarea rows="3" matInput formControlName="comentario" maxlength="100"></textarea>
          <mat-error *ngIf="comentarioControl.errors?.required"> {{ 'El comentario es ' }} <strong>requerido</strong> </mat-error>
        </mat-form-field>
      </div>
      <div class="col-1">
        <button (click)="onSubmit(stockMoveForm.value)" [disabled]="!stockMoveForm.valid" mat-fab color="primary">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
  </form>
  <mat-divider class="my-4"></mat-divider>
</div>
<app-stock-moves-detail-form (create)="onCreateStockMove()" [stockMove]="stockMove"></app-stock-moves-detail-form>
<mat-divider class="my-4"></mat-divider>
<app-warehouse-movement-detail-page [warehouseMovementDetail]="stockMovesDetails" [displayHeader]="false"></app-warehouse-movement-detail-page>

<div class="container mb-4">
  <mat-divider class="my-4"></mat-divider>
  <div class="d-flex justify-content-end">
    <button [routerLink]="['/moves']" mat-raised-button class="button mx-2">Volver al listado de Movimientos</button>
    <button [disabled]="!stockMove || stockMove.estado == 2" (click)="confirmMove()" mat-raised-button color="primary" class="button">
      Confirmar Movimiento
    </button>
  </div>
</div>
