<div class="container mt-3">
    <div class="d-flex justify-content-between align-items-center">
        <h4>Existencia</h4>
        <button (click)="createExistence()" mat-raised-button color="primary" class="button">Crear Existencia</button>
    </div>
    <app-custom-table *ngIf="existence" [data]="existence" [dataCount]="dataCount"
        [displayedColumns]="configuration.displayedColumns" [columnsName]="configuration.columnsName"
        [paginationSize]="configuration.paginationSize" [filters]="configuration.tableFilters"
        [rowActionButtons]="rowActionButtons" [loading]="loading" (changePage)="onChangePage($event)"
        (changeFilter)="onChangeFilter($event)" (changeSort)="onChangeSort($event)"></app-custom-table>
</div>