<div class="form">
  <h4>{{ data.variableIndicator ? 'Editar Indicador Variable' : 'Crear Indicador Variable' }}</h4>
  <mat-divider class="my-4"></mat-divider>
  <form *ngIf="subcategoryForm" [formGroup]="variableIndicatorForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Nombre:</mat-label>
      <input matInput formControlName="nombre" />
      <mat-error *ngIf="this.nameControl.errors?.required"> {{ 'El nombre es' }} <strong>requerido</strong> </mat-error>
      <mat-error *ngIf="this.nameControl.errors?.pattern"> {{ 'El nombre solo permite letras y espacios' }}  </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>SQL:</mat-label>
      <input matInput formControlName="SQL" />
      <mat-error *ngIf="this.sqlControl.errors?.required"> {{ 'El SQL es' }} <strong>requerido</strong> </mat-error>
    </mat-form-field>
    <div class="mb-4">
      <ng-select
        appearance="outline"
        class="custom w-100"
        placeholder="Indicador"
        [items]="category"
        bindLabel="nombre"
        bindValue="id"
        formControlName="indicador"
      >
      </ng-select>
      <small class="text-danger error-style" *ngIf="variableIndicatorForm.controls['indicador'].errors?.required && variableIndicatorForm.controls['indicador'].dirty"
        >El campo indicador es <strong>requerido</strong></small
      >
    </div>
  </form>
  <mat-divider class="my-4"></mat-divider>
  <div class="d-flex align-items-center justify-content-end">
    <button (click)="onCancel()" mat-raised-button color="default" class="button mx-2">Cancelar</button>
    <button (click)="onSubmit(subcategoryForm.value)" [disabled]="!subcategoryForm.valid" mat-raised-button color="primary" class="button">
      {{ data.subcategory ? 'Aceptar' : 'Crear' }}
    </button>
  </div>
</div>
