/// IMPORTAR AQUI MATERIAL Y CONFIGURARLO
// ---------------Material Themin -----------------///
@import '~@angular/material/theming';
@include mat-core();
$custom-typography: mat-typography-config(
  $font-family: 'Montserrat'
);
// Override the typography in the core CSS.
@include mat-core($custom-typography);

// $my-primary-color: $mat-indigo;
$my-primary-color: (
  50: rgb(224, 247, 252),
  100: rgb(187, 227, 235),
  200: rgb(138, 202, 214),
  300: rgb(125, 197, 211),
  400: rgb(94, 183, 201),
  500: rgb(89, 178, 196),
  600: rgb(63, 168, 189),
  700: rgb(54, 162, 184),
  800: rgb(39, 154, 177),
  900: rgb(23, 128, 149),
  contrast: (
    50: $white-87-opacity,
    100: $white-87-opacity,
    200: $white-87-opacity,
    300: $white-87-opacity,
    400: $white-87-opacity,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $white-87-opacity,
    A200: $white-87-opacity,
    A400: $white-87-opacity,
    A700: $white-87-opacity,
  ),
);

$my-accent-color: (
  50: #f1f8e5,
  100: #dbedbf,
  200: #c3e095,
  300: #aad469,
  400: #95cb44,
  500: #82c213,
  600: #72b207,
  700: #5c9e00,
  800: #468b00,
  900: #156900,
  contrast: (
    50: $white-87-opacity,
    100: $white-87-opacity,
    200: $white-87-opacity,
    300: $white-87-opacity,
    400: $white-87-opacity,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $white-87-opacity,
    A200: $white-87-opacity,
    A400: $white-87-opacity,
    A700: $white-87-opacity,
  ),
);

$primary: mat-palette($my-primary-color, 900, 800, 700);
$accent: mat-palette($my-accent-color, 500, 400, 300);
$warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$default-theme: mat-light-theme($primary, $accent, $warn);

// -----Creating Global Variables------

$grey-900: mat-color(mat-palette($mat-grey), 900);
$grey-800: mat-color(mat-palette($mat-grey), 800);
$grey-700: mat-color(mat-palette($mat-grey), 700);
$grey-600: mat-color(mat-palette($mat-grey), 600);
$grey-500: mat-color(mat-palette($mat-grey), 500);
$grey-400: mat-color(mat-palette($mat-grey), 400);
$grey-300: mat-color(mat-palette($mat-grey), 300);
$grey-200: mat-color(mat-palette($mat-grey), 200);
$grey-100: mat-color(mat-palette($mat-grey), 100);
$grey-50: mat-color(mat-palette($mat-grey), 50);

$red-600: mat-color(mat-palette($mat-red), 600);
@include angular-material-theme($default-theme);
///////////////////COLOR CLASES //////////////////////
$main-primary: mat-color($primary, 900);
$main-primary-400: mat-color($primary, 400);
$main-primary-300: mat-color($primary, 300);
$main-primary-100: mat-color($primary, 100);

$theme-main: mat-color($primary, 900);
$theme-main-400: mat-color($primary, 400);
$theme-main-300: mat-color($primary, 300);
$theme-main-100: mat-color($primary, 100);
$theme-accent: mat-color($accent, 500);
$theme-main-dark: #323232;
$theme-main-dark-2: #303030;
$theme-main-dark-3: #282828;
$theme-main-red: #f33927;

$white: #ffffff;
$white-dark: #e2e2e2;
$black: #000000;
$dark-font: #222222;
$grey-dark: #2d2a25;
$font-color: #333333;
$grey-light: #dddddd;
$grey: #777777;
$grey2: #eeeeee;
$grey3: #c3c3c3;
$grey4: #444;
$grey5: #848484;
$grey6: #e5e5e5;
$grey7: #787878;
$grey8: #d9d9d9;
$grey9: #f3f3f3;
$grey10: #9c9c9c;
$baners-background: #f5f5f5;
$background: #fafafa;
$gray-lighter: #f6f6f6;
$footer-background: #f7f7f7;

//////////////////////////////////////

/*Material Colors*/
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-500: #9e9e9e;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

$red-100: #ffebee;
$red-200: #ffcdd2;
$red-300: #e57373;
$red-400: #ef5350;
$red-500: #f44336;
$red-600: #e53935;
$red-700: #d32f2f;
$red-800: #c62828;
$red-900: #b71c1c;

$amber-100: #ffecb3;
$amber-200: #ffe082;
$amber-300: #ffd54f;
$amber-400: #ffca28;
$amber-500: #ffc107;
$amber-600: #ffb300;
$amber-700: #ffa000;
$amber-800: #ff8f00;
$amber-900: #ff6f00;

$teal-50: #e0f2f2;
$teal-100: #b2dfdb;
$teal-200: #80cbc4;
$teal-300: #4db6ac;
$teal-400: #26a69a;
$teal-500: #009688;
$teal-600: #00897b;
$teal-700: #00796b;
$teal-800: #00695c;
$teal-900: #004d40;

$blue-50: #e3f2fd;
$blue-100: #bbdefb;
$blue-200: #90caf9;
$blue-300: #64b5f6;
$blue-400: #42a5f5;
$blue-500: #2196f3;
$blue-600: #1e88e5;
$blue-700: #1976d2;
$blue-800: #1565c0;
$blue-900: #0d47a1;

//////////BACKGROUND COLORS////////////

.color-main-theme {
  color: #1a237e !important;
}

.color-accent-theme {
  color: #82c213 !important;
}

.background-color-white {
  background-color: white;
}

.background-color-grey-50 {
  background-color: $grey-50 !important;
}

.background-color-grey-100 {
  background-color: $grey-100;
}

.background-color-grey-200 {
  background-color: $grey-200;
}

.background-color-grey-300 {
  background-color: $grey-300;
}

.background-color-grey-400 {
  background-color: $grey-400;
}

.background-color-grey-500 {
  background-color: $grey-500;
}

.background-color-grey-600 {
  background-color: $grey-600;
}

.background-color-grey-700 {
  background-color: $grey-700;
}

.color-grey-700 {
  color: $grey-700 !important;
}

.background-color-grey-800 {
  background-color: $grey-800;
}

.background-color-grey-900 {
  background-color: $grey-900;
}

/*red*/
.background-color-red-100 {
  background-color: $red-100;
}

.background-color-red-200 {
  background-color: $red-200;
}

.background-color-red-300 {
  background-color: $red-300;
}

.background-color-red-400 {
  background-color: $red-400;
}

.background-color-red-500 {
  background-color: $red-500;
}

.background-color-red-600 {
  background-color: $red-600;
}

.background-color-red-700 {
  background-color: $red-700;
}

.background-color-red-800 {
  background-color: $red-800;
}

.background-color-red-900 {
  background-color: $red-900;
}

/*teal*/
.background-color-teal-100 {
  background-color: $teal-100;
}

.background-color-teal-200 {
  background-color: $teal-200;
}

.background-color-teal-300 {
  background-color: $teal-300;
}

.background-color-teal-400 {
  background-color: $teal-400;
}

.background-color-teal-500 {
  background-color: $teal-500;
}

.background-color-teal-600 {
  background-color: $teal-600;
}

.background-color-teal-700 {
  background-color: $teal-700;
}

.background-color-teal-800 {
  background-color: $teal-800;
}

.background-color-teal-900 {
  background-color: $teal-900;
}

/*amber*/
.background-color-amber-100 {
  background-color: $amber-100;
}

.background-color-amber-200 {
  background-color: $amber-200;
}

.background-color-amber-300 {
  background-color: $amber-300;
}

.background-color-amber-400 {
  background-color: $amber-400;
}

.background-color-amber-500 {
  background-color: $amber-500;
}

.background-color-amber-600 {
  background-color: $amber-600;
}

.background-color-amber-700 {
  background-color: $amber-700;
}

.background-color-amber-800 {
  background-color: $amber-800;
}

.background-color-amber-900 {
  background-color: $amber-900;
}

//////COLORS////////////
.color-grey-100 {
  color: $grey-100;
}

.color-grey-200 {
  color: $grey-200;
}

.color-grey-300 {
  color: $grey-300;
}

.color-grey-400 {
  color: $grey-400;
}

.color-grey-500 {
  color: $grey-500;
}

.color-grey-600 {
  color: $grey-600;
}

.color-grey-700 {
  color: $grey-700;
}

.color-grey-800 {
  color: $grey-800;
}

.color-grey-900 {
  color: $grey-900;
}

/*red*/
.color-red-100 {
  color: $red-100;
}

.color-red-200 {
  color: $red-200;
}

.color-red-300 {
  color: $red-300;
}

.color-red-400 {
  color: $red-400;
}

.color-red-500 {
  color: $red-500;
}

.color-red-600 {
  color: $red-600;
}

.color-red-700 {
  color: $red-700;
}

.color-red-800 {
  color: $red-800;
}

.color-red-900 {
  color: $red-900;
}

/*teal*/
.color-teal-100 {
  color: $teal-100;
}

.color-teal-200 {
  color: $teal-200;
}

.color-teal-300 {
  color: $teal-300;
}

.color-teal-400 {
  color: $teal-400;
}

.color-teal-500 {
  color: $teal-500;
}

.color-teal-600 {
  color: $teal-600;
}

.color-teal-700 {
  color: $teal-700;
}

.color-teal-800 {
  color: $teal-800;
}

.color-teal-900 {
  color: $teal-900;
}

/*amber*/
.color-amber-100 {
  color: $amber-100;
}

.color-amber-200 {
  color: $amber-200;
}

.color-amber-300 {
  color: $amber-300;
}

.color-amber-400 {
  color: $amber-400;
}

.color-amber-500 {
  color: $amber-500;
}

.color-amber-600 {
  color: $amber-600;
}

.color-amber-700 {
  color: $amber-700;
}

.color-amber-800 {
  color: $amber-800;
}

.color-amber-900 {
  color: $amber-900;
}

.color-white {
  color: white;
}
