<div class="container">
  <div class="row">
    <mat-card class="card" style="margin-left: 30px; max-width: 500px;">
      <mat-card-header>
        <mat-card-title>Estadísticas</mat-card-title>
      </mat-card-header>
      <app-custom-table
      *ngIf="data"
      [data]="data"
      [dataCount]="dataCount"
      [displayedColumns]="configuration.displayedColumns"
      [columnsName]="configuration.columnsName"
      [paginationSize]="configuration.paginationSize"
      [loading]="loading"
      (changePage)="onChangePage($event)"
    ></app-custom-table></mat-card>
  </div>
</div>
