.card {
  max-width: 300px;
}

.header-image {
  background-image: url('../../../../assets/images/users/profile2.png');
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1vw;
}