<div class="form">
    <h4>{{ data.existence === null ? 'Crear Existencia' : 'Editar Existencia' }}</h4>
    <mat-divider class="my-4"></mat-divider>
    <form *ngIf="existenceForm" [formGroup]="existenceForm">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Cantidad:</mat-label>
            <input type="number" matInput formControlName="cantidad" />
            <mat-error *ngIf="this.cantidadControl.errors?.required"> {{ 'La cantidad es:' }} <strong>requerido</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Importe:</mat-label>
            <input type="number" matInput formControlName="importe" />
            <mat-error *ngIf="this.importeControl.errors?.required"> {{ 'La importe es:' }} <strong>requerido</strong>
            </mat-error>
        </mat-form-field>
        <!-- almacen -->
        <div class="mb-4">
            <ng-select appearance="outline" class="custom w-100" placeholder="Almacén" [items]="almacenes"
                bindLabel="nombre" bindValue="id" formControlName="almacen">
            </ng-select>
            <small class="text-danger error-style" *ngIf="almacenControl.errors?.required">El
                campo almacén es <strong>requerido</strong></small>
        </div>
        <!-- unidad_medida -->
        <div class="mb-4">
            <ng-select appearance="outline" class="custom w-100" placeholder="Unidad Medida" [items]="unidad_medida"
                bindLabel="descripcion" bindValue="id" formControlName="unidad_medida">
            </ng-select>
            <small class="text-danger error-style" *ngIf="unidad_medidaControl.errors?.required">La
                unidad de medida es <strong>requerido</strong></small>
        </div>
        <!-- categoria -->
        <div class="mb-4">
            <ng-select appearance="outline" class="custom w-100" placeholder="Categoría" [items]="productCategory"
                bindLabel="descripcion" bindValue="id" formControlName="categoria">
            </ng-select>
            <small class="text-danger error-style" *ngIf="categoriaControl.errors?.required">La
                categoría es <strong>requerido</strong></small>
        </div>

        <!-- Lote -->
        <div class="mb-4">
            <ng-select appearance="outline" class="custom w-100" placeholder="Lote" [items]="lote" bindLabel="codigo"
                bindValue="id" formControlName="lote">
            </ng-select>
            <small class="text-danger error-style" *ngIf="loteControl.errors?.required">El
                Lote es <strong>requerido</strong></small>
        </div>


    </form>
    <mat-divider class="my-4"></mat-divider>
    <div class="d-flex align-items-center justify-content-end">
        <button (click)="onCancel()" mat-raised-button color="default" class="button mx-2">Cancelar</button>
        <button (click)="onSubmit(existenceForm.value)" [disabled]="!existenceForm.valid" mat-raised-button
            color="primary" class="button">
            {{ data.existence === null ? 'Crear' : 'Aceptar' }}
        </button>
    </div>

</div>