<div class="form">
  <h4>{{ data.tranferRecived ? 'Editar Transferencia recibida' : 'Crear Transferencia recibida' }}</h4>
  <mat-divider class="my-4"></mat-divider>
  <form *ngIf="tranferRecivedForm" [formGroup]="tranferRecivedForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Movimiento</mat-label>
      <mat-select #mySelect formControlName="movimiento">
        <mat-option *ngFor="let move of moves" [value]="move.id">{{ move.nro_control }}</mat-option>
      </mat-select>
      <mat-error *ngIf="movimientoControl.errors?.required"> {{ 'Seleccione un movimiento' }} </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Movimiento Origen</mat-label>
      <mat-select #mySelect formControlName="movimiento_origen">
        <mat-option *ngFor="let move of moves" [value]="move.id">{{ move.nro_control }}</mat-option>
      </mat-select>
      <mat-error *ngIf="movimiento_origenControl.errors?.required"> {{ 'Selecciona un movimiento origen' }} </mat-error>
    </mat-form-field>
  </form>
  <mat-divider class="my-4"></mat-divider>
  <div class="d-flex align-items-center justify-content-end">
    <button (click)="onCancel()" mat-raised-button color="default" class="button mx-2">Cancelar</button>
    <button (click)="onSubmit(tranferRecivedForm.value)" [disabled]="!tranferRecivedForm.valid" mat-raised-button color="primary" class="button">
      {{ data.tranferRecived ? 'Aceptar' : 'Crear' }}
    </button>
  </div>
</div>
