<form [formGroup]="this.form" class="w-100">
  <div class="row mt-5 w-100">
    <div class="col-lg-6 col-md-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ 'Nueva contraseña' }}</mat-label>
        <input matInput placeholder="{{ 'Nueva contraseña' }}" type="{{ passType }}" required [formControl]="fromPass.controls['password']" />
        <mat-icon style="cursor: pointer" matSuffix class="grey-600" (click)="showPass()">remove_red_eye</mat-icon>
        <mat-error *ngIf="passwordControl.errors?.required"> {{ 'La contraseña es' }} <strong>requerido</strong> </mat-error>
        <mat-error *ngIf="passwordControl.errors?.lowercase == false"> {{ 'La contraseña tiene que contener letras Minúsculas' }} </mat-error>
        <mat-error *ngIf="passwordControl.errors?.uppercase == false"> {{ 'La contraseña tiene que contener letras Mayúsculas' }} </mat-error>
        <mat-error *ngIf="passwordControl.errors?.numeric == false"> {{ 'La contraseña tiene que contener números' }} </mat-error>
        <mat-error *ngIf="passwordControl.errors?.minlength"> {{ 'Su contraseña debe contener al menos 8 caracteres.' }} </mat-error>
        <mat-error *ngIf="passwordControl.errors?.onlyNumbers"> {{ 'Su contraseña no puede ser completamente numérica.' }} </mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="w-100 mt-5"
        [ngClass]="{
          'mat-form-field-invalid': fromPass.hasError('mismatch'),
          'ng-invalid': fromPass.hasError('mismatch'),
          'ng-valid': !fromPass.hasError('mismatch')
        }"
      >
        <mat-label>{{ 'Repita la contraseña' }}</mat-label>
        <input
          matInput
          placeholder="{{ 'Repita la contraseña' }}"
          required
          type="{{ passType }}"
          [ngClass]="{ 'ng-invalid': fromPass.hasError('mismatch') }"
          [formControl]="fromPass.controls['repeat']"
        />
        <mat-icon style="cursor: pointer" matSuffix class="grey-600" (click)="showPass()">remove_red_eye</mat-icon>
        <mat-error *ngIf="fromPass.hasError('mismatch')">
          {{ 'Contraseña' }} <strong>{{ 'deben ser iguales' }}</strong>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="RegisterBtn" [disabled]="form.invalid" (click)="onSubmit()">
        <span class="uppercase color-white">{{ 'Confirmar' }}</span>
      </button>
    </div>
  </div>
</form>
