<app-user-form
  *ngIf="roles && catDoncents && catSciences && specialties && docTypes && nationalities && municipalities && professions && genders"
  [user]="user"
  [person]="person"
  [roles]="roles"
  [municipalities]="municipalities"
  [catDoncents]="catDoncents"
  [catSciences]="catSciences"
  [specialties]="specialties"
  [docTypes]="docTypes"
  [nationalities]="nationalities"
  [professions]="professions"
  [genders]="genders"
  (create)="onCreate($event)"
  (edit)="onEdit($event)"
>
</app-user-form>
