<div class="form">
  <h4>{{ data.state ? 'Editar Provincia' : 'Crear Provincia' }}</h4>
  <mat-divider class="my-4"></mat-divider>
  <form *ngIf="stateForm" [formGroup]="stateForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Nombre:</mat-label>
      <input matInput formControlName="nombre" />
      <mat-error *ngIf="nameStateControl.errors?.required"> {{ 'El nombre es' }} <strong>requerido</strong> </mat-error>
      <mat-error *ngIf="nameStateControl.errors?.pattern"> {{ 'El nombre solo permite letras y espacios' }}  </mat-error>
   </mat-form-field>
    <div class="mb-4">
      <ng-select appearance="outline" class="custom w-100" placeholder="País" [items]="country" bindLabel="nombre" bindValue="id" formControlName="pais">
      </ng-select>
      <small class="text-danger error-style" *ngIf="stateForm.controls['pais'].errors?.required && stateForm.controls['pais'].dirty"
      >La provincia es <strong>requerido</strong></small
      >
    </div>
  </form>
  <mat-divider class="my-4"></mat-divider>
  <div class="d-flex align-items-center justify-content-end">
    <button (click)="onCancel()" mat-raised-button color="default" class="button mx-2">Cancelar</button>
    <button (click)="onSubmit(stateForm.value)" [disabled]="!stateForm.valid" mat-raised-button color="primary" class="button">
      {{ data.state ? 'Aceptar' : 'Crear' }}
    </button>
  </div>
</div>
