<div class="form">
  <h4>{{ data.resourceType ? 'Editar Tipo de Recurso' : 'Crear Tipo de Recurso' }}</h4>
  <mat-divider class="my-4"></mat-divider>
  <form *ngIf="resourceTypeForm" [formGroup]="resourceTypeForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Descripción:</mat-label>
      <input matInput formControlName="descripcion" />
      <mat-error *ngIf="descripcionControl.errors?.required"> {{ 'La descripción es' }} <strong>requerida</strong> </mat-error>
      <mat-error *ngIf="descripcionControl.errors?.pattern"> {{ 'La descripción solo permite letras y espacios' }} </mat-error>
    </mat-form-field>
  </form>
  <mat-divider class="my-4"></mat-divider>
  <div class="d-flex align-items-center justify-content-end">
    <button (click)="onCancel()" mat-raised-button color="default" class="button mx-2">Cancelar</button>
    <button (click)="onSubmit(resourceTypeForm.value)" [disabled]="!resourceTypeForm.valid" mat-raised-button color="primary" class="button">
      {{ data.resourceType ? 'Aceptar' : 'Crear' }}
    </button>
  </div>
</div>
