<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center">
    <h4>Transferencias Recibidas</h4>
  </div>
  <app-custom-table
    *ngIf="warehouseReceivedTransfer"
    [data]="warehouseReceivedTransfer"
    [dataCount]="dataCount"
    [displayedColumns]="configuration.displayedColumns"
    [columnsName]="configuration.columnsName"
    [paginationSize]="configuration.paginationSize"
    [filters]="configuration.tableFilters"
    [rowActionButtons]="rowActionButtons"
    [loading]="loading"
    (changePage)="onChangePage($event)"
    (changeFilter)="onChangeFilter($event)"
    (changeSort)="onChangeSort($event)"
  ></app-custom-table>
</div>
