<ng-container *ngIf="item.display">
  <ng-container *ngIf="!item.header">
    <a
      mat-list-item
      fxLayoutAlign="start center"
      [ngStyle]="{ 'margin-left': depth * 16 + 'px' }"
      (click)="onItemSelected(item)"
      [ngClass]="{ active: item.route ? router.isActive(item.route, true) : false, expanded: expanded }"
      class="menu-list-item grey-700"
    >
      <div class="menu-icons" fxLayoutAlign="start center">
        <!-- <fa-icon *ngIf="item.iconName && !item.material" [icon]="item.iconName"></fa-icon> -->
        <mat-icon *ngIf="item.material && item.iconName">{{ item.iconName }}</mat-icon>
      </div>
      <span class="mat-body-1 ml-3">{{ item.displayName }}</span>
      <span fxFlex *ngIf="item.children && item.children.length">
        <span fxFlex></span>
        <mat-icon style="margin: 0px !important" [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'"> expand_more </mat-icon>
      </span>
      <span
        style="transform: translateY(-5px); margin-left: 12px"
        *ngIf="item.badge && item.badgeCount"
        [matBadge]="item.badgeCount"
        matBadgePosition="after"
        matBadgeColor="primary"
      >
      </span>
      <div class="tabActive"></div>
    </a>
    <mat-divider id="dividerNav" *ngIf="item.divider" class="my-2"></mat-divider>
    <div *ngIf="expanded">
      <app-menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth + 1"> </app-menu-list-item>
    </div>
  </ng-container>
  <ng-container *ngIf="item.header">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <span class="mat-body-2">
          {{ item.displayName }}
        </span>
      </mat-list-item>
    </mat-list>
  </ng-container>
</ng-container>
