@import '../../../../assets/scss/theme/variables';

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  .mat-list-item.active {
    background-color: #e0e0e0;
    color: $theme-main; // border-radius: 24px;
    transition: all .5s ease;

    .tabActive {
      opacity: 1.0;
      transition: all .5s ease;

    }

    mat-icon {
      color: $theme-main;
    }
  }

  .tabActive {
    position: absolute;
    transition: all .5s ease;
    opacity: 0;
    top: 0;
    left: 0;
    width: 4px;
    height: 48px;
    background-color: $theme-main;
    z-index: 4;
    border-radius: 4px;
  }



  // #dividerNav {
  //   // border-top-color: #424242 !important;
  // }

  // &:hover,
  // &:focus {
  //   >.mat-list-item:not(.expanded) {
  //     // border-radius: 16px;
  //     // transition: border-radius .7s ease;
  //   }
  // }

}

.mat-list-item {
  padding: 2px 0;
  display: flex;
  width: auto;
  color: rgba(0, 0, 0, 0.87);
  position: relative;

  .routeIcon {
    margin-right: 30px;
  }
}

.menu-icons {
  font-size: 18px !important;

  mat-icon {
    color: #424242;
    margin: 0px !important;
  }

}
