<div class="form">
  <h4>{{ data.docTypeId ? 'Editar Tipo Documento Id' : 'Crear Tipo Documento Id' }}</h4>
  <mat-divider class="my-4"></mat-divider>
  <form *ngIf="docTypeIdForm" [formGroup]="docTypeIdForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Descripción:</mat-label>
      <input matInput formControlName="descripcion" />
      <mat-error *ngIf="nameDocTypeControl.errors?.required"> {{ 'La descripción es' }} <strong>requerido</strong> </mat-error>
      <mat-error *ngIf="nameDocTypeControl.errors?.pattern"> {{ 'La descripción solo permite letras y espacios' }} </mat-error>
    </mat-form-field>
  </form>
  <mat-divider class="my-4"></mat-divider>
  <div class="d-flex align-items-center justify-content-end">
    <button (click)="onCancel()" mat-raised-button color="default" class="button mx-2">Cancelar</button>
    <button (click)="onSubmit(docTypeIdForm.value)" [disabled]="!docTypeIdForm.valid" mat-raised-button color="primary" class="button">
      {{ data.docTypeId ? 'Aceptar' : 'Crear' }}
    </button>
  </div>
</div>
