<div fxFlex="row" fxLayoutAlign="start center">
  <button mat-icon-button (click)="goBack()">
    <mat-icon class="mat-18">arrow_back</mat-icon>
  </button>
  <div fxHide.xs class="mt-2-top-5" *ngFor="let breadcrumb of breadcrumdList">
    <span class="mat-body-2 Rutas">
      {{breadcrumb.text}}</span>
    <span class="mat-body-2 Rutas" *ngIf="!breadcrumb.isLast">
      <strong style="margin-right: 4px;"> {{separator}} </strong>
    </span>
  </div>
  <!-- <div fxHide fxShow.xs class="mt-2-top-5" *ngFor="let breadcrumb of breadcrumdList">
    <span class="mat-body-2 Rutas">
      {{breadcrumb.text}}</span>
  </div> -->

</div>
