<div class="form">
  <h4>{{ data.disease ? 'Editar Enfermedad' : 'Crear Enfermedad' }}</h4>
  <mat-divider class="my-4"></mat-divider>
  <form *ngIf="diseaseForm" [formGroup]="diseaseForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Nombre:</mat-label>
      <input matInput formControlName="nombre" />
      <mat-error *ngIf="nombreControl.errors?.required"> {{ 'El nombre es' }} <strong>requerido</strong> </mat-error>
      <mat-error *ngIf="nombreControl.errors?.pattern"> {{ 'El nombre solo permite letras y espacios' }} </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Descripción:</mat-label>
      <input matInput formControlName="descripcion" />
      <mat-error *ngIf="descripcionControl.errors?.required"> {{ 'La descripción es' }} <strong>requerida</strong> </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Código:</mat-label>
      <input matInput formControlName="codigo" />
      <mat-error *ngIf="codigoControl.errors?.required"> {{ 'El código es' }} <strong>requerida</strong> </mat-error>
      <mat-error *ngIf="codigoControl.errors?.pattern"> {{ 'El código solo permite letras y espacios' }} </mat-error>
    </mat-form-field>
  </form>
  <mat-divider class="my-4"></mat-divider>
  <div class="d-flex align-items-center justify-content-end">
    <button (click)="onCancel()" mat-raised-button color="default" class="button mx-2">Cancelar</button>
    <button (click)="onSubmit(diseaseForm.value)" [disabled]="!diseaseForm.valid" mat-raised-button color="primary" class="button">
      {{ data.disease ? 'Aceptar' : 'Crear' }}
    </button>
  </div>
</div>
