<div class="form">
  <h4>{{ data.role ? 'Editar Rol' : 'Crear Rol' }}</h4>
  <mat-divider class="my-4"></mat-divider>
  <form *ngIf="roleForm" [formGroup]="roleForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Nombre:</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="this.roleForm.controls['name'].invalid"> {{ 'El nombre es' }} <strong>requerido</strong> </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Permisos</mat-label>
      <mat-select #mySelect *ngIf="permissions" formControlName="permissions" multiple>
        <button type="button" class="btn btn-primary adjust" (click)="mySelect.close()">Cerrar</button>
        <mat-option *ngFor="let permission of permissions" [value]="permission.id">{{ permission.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="this.roleForm.controls['permissions'].invalid">Seleccione al menos un permiso</mat-error>
    </mat-form-field>
  </form>
  <mat-divider class="my-4"></mat-divider>
  <div class="d-flex align-items-center justify-content-end">
    <button (click)="onCancel()" mat-raised-button color="default" class="button mx-2">Cancelar</button>
    <button (click)="onSubmit(roleForm.value)" [disabled]="!roleForm.valid" mat-raised-button color="primary" class="button">
      {{ data.role ? 'Aceptar' : 'Crear' }}
    </button>
  </div>
</div>
