<div class="form">
    <h4>{{ data.wareHouseInventoryDif ? 'Editar Almacén de Inventario Diferencia' : 'Crear Almacén de Inventario
        Diferencia' }}</h4>
    <form *ngIf="warehouseInventoryDifferenceForm" [formGroup]="warehouseInventoryDifferenceForm">

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Dif cantidad:</mat-label>
            <input type='number' matInput formControlName="dif_cantidad" maxlength="2147483647" />


        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Dif importe:</mat-label>
            <input type='number' matInput formControlName="dif_importe" maxlength="2147483647" />

        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Conteo</mat-label>
            <mat-select #mySelect formControlName="conteo">
                <mat-option *ngFor="let c of conteo" [value]="c.id">{{ c.conteo_cant_real }}</mat-option>
            </mat-select>
            <mat-error *ngIf="conteoControl.errors?.required"> {{ 'Seleccione un conteo' }} </mat-error>
        </mat-form-field>

    </form>
    <mat-divider class="my-4"></mat-divider>

    <div class="d-flex align-items-center justify-content-end">
        <button (click)="onCancel()" mat-raised-button color="default" class="button mx-2">Cancelar</button>
        <button (click)="onSubmit(warehouseInventoryDifferenceForm.value)"
            [disabled]="!warehouseInventoryDifferenceForm.valid" mat-raised-button color="primary" class="button">
            {{ data.wareHouseInventoryDif ? 'Aceptar' : 'Crear' }}
        </button>
    </div>
</div>