<div class="form">
    <h4>{{ data.warehouseInventoryDifference ? 'Editar Almacen de Inventario Diferencia' : 'Crear Almacen de Inventario
        Diferencia' }}</h4>
    <form *ngIf="warehouseInventoryDifferenceForm" [formGroup]="warehouseInventoryDifferenceForm">

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Dif cantidad:</mat-label>
            <input type='number' matInput formControlName="dif_cantidad" />
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Dif importe:</mat-label>
            <input type='number' matInput formControlName="dif_importe" />
        </mat-form-field>

        <div class="mb-4">
            <ng-select appearance="outline" class="custom w-100" placeholder="Conteo" [items]="conteo"
                bindLabel="descripcion" bindValue="id" formControlName="conteo">
            </ng-select>
            <small class="text-danger error-style" *ngIf="conteoControl.errors?.required && conteoControl.dirty">
                El campo conteo es <strong>requerido</strong></small>
        </div>
    </form>
    <mat-divider class="my-4"></mat-divider>

    <div class="d-flex align-items-center justify-content-end">
        <button (click)="onCancel()" mat-raised-button color="default" class="button mx-2">Cancelar</button>
        <button (click)="onSubmit(warehouseInventoryDifferenceForm.value)"
            [disabled]="!warehouseInventoryDifferenceForm.valid" mat-raised-button color="primary" class="button">
            {{ data.warehouseInventoryDifference ? 'Aceptar' : 'Crear' }}
        </button>
    </div>
</div>