.img-detail-avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.title {
  font-size: 1.25rem;
}

.status-size {
  font-size: 0.7rem;
}

.date-color {
  color: rgb(146, 132, 132);
}
.qr-image {
  width: 150px;
  height: auto;
}
.is-online{
  color: green;
}
.is-not-online{
  color: #b5b5b5;
}
