<div class="form">
  <h4>{{ data.aftselfresources ? 'Editar Recurso Propio' : 'Crear Recurso Propio' }}</h4>
  <mat-divider class="my-4"></mat-divider>
  <form *ngIf="aftselfresourcesForm" [formGroup]="aftselfresourcesForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Numero Inventario:</mat-label>
      <input matInput formControlName="nro_inventario" maxlength="50"/>
      <mat-error *ngIf="inventoryNumberControl.errors?.required"> {{ 'El numero de inventario es' }} <strong>requerido</strong> </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <!--<mat-label>Activo</mat-label>-->
      <mat-checkbox checked="false" formControlName="activo">Activo</mat-checkbox>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Estado</mat-label>
      <mat-select #mySelect formControlName="id_estado">
        <mat-option *ngFor="let st of status" [value]="st.id">{{ st.id }}</mat-option>
      </mat-select>
      <mat-error *ngIf="statusControl.errors?.required"> {{ 'Seleccione un tipo de estado' }} </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Recurso</mat-label>
      <mat-select #mySelect formControlName="id_recurso">
        <mat-option *ngFor="let cla of clasificator" [value]="cla.id">{{ cla.id }}</mat-option>
      </mat-select>
      <mat-error *ngIf="clasificatorControl.errors?.required"> {{ 'Seleccione un tipo de recurso' }} </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Departamento</mat-label>
      <mat-select #mySelect formControlName="id_departamento">
        <mat-option *ngFor="let off of office" [value]="off.id">{{ off.id }}</mat-option>
      </mat-select>
      <mat-error *ngIf="officeControl.errors?.required"> {{ 'Seleccione un tipo de departamento' }} </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Paciente</mat-label>
      <mat-select #mySelect formControlName="paciente">
        <mat-option *ngFor="let pa of patient" [value]="pa.id">{{ pa.id }}</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
  <mat-divider class="my-4"></mat-divider>
  <div class="d-flex align-items-center justify-content-end">
    <button (click)="onCancel()" mat-raised-button color="default" class="button mx-2">Cancelar</button>
    <button (click)="onSubmit(aftselfresourcesForm.value)" [disabled]="!aftselfresourcesForm.valid" mat-raised-button color="primary" class="button">
      {{ data.aftselfresources ? 'Aceptar' : 'Crear' }}
    </button>
  </div>
</div>
