<div class="form">
  <h4>{{ data.orgLevel ? 'Editar Nivel Organizacional' : 'Crear Nivel Organizacional' }}</h4>
  <mat-divider class="my-4"></mat-divider>
  <form *ngIf="orgLevelForm" [formGroup]="orgLevelForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Nombre:</mat-label>
      <input matInput formControlName="nombre" />
      <mat-error *ngIf="this.orgLevelForm.controls['nombre'].invalid"> {{ 'El nombre es' }} <strong>requerido</strong> </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Nivel Organizacional Padre</mat-label>
      <mat-select *ngIf="orgLevelList" formControlName="nivel_padre">
        <mat-option *ngFor="let np of orgLevelList" [value]="np.id">{{ np.nombre }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <mat-divider class="my-4"></mat-divider>
  <div class="d-flex align-items-center justify-content-end">
    <button (click)="onCancel()" mat-raised-button color="default" class="button mx-2">Cancelar</button>
    <button (click)="onSubmit(orgLevelForm.value)" [disabled]="!orgLevelForm.valid" mat-raised-button color="primary" class="button">
      {{ data.orgLevel ? 'Editar' : 'Crear' }}
    </button>
  </div>
</div>
