@import '~@ng-select/ng-select/themes/material.theme.css';

html,
body {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  font-family: 'Poppins', Helvetica, sans-serif;

  p {
    margin: 0px;
  }
  .ng-input input {
    padding: 10px !important;
  }
}
#mySelect {
  position: relative !important;
}
.adjust{
  position: sticky;
  top: 5px;
  //left: 400px;
  float: right;
  z-index: 999;
}

@import '../node_modules/swiper/css/swiper.min.css';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import './assets/scss/helpers/helpers';
@import './assets/scss/mixins/breakpoints';
// Color 1 scss
@import './assets/scss/color1';

@import '~ngx-toastr/toastr';
@import '~material-design-icons/iconfont/material-icons.css';

// --------Global Styles for the Project-------------- ///

@media (max-width: 800px) {
  .responsive_table {
    overflow-x: auto !important;
  }

  .mat-table {
    min-width: 550px;
  }
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15) !important;
  z-index: 1024;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-shade-full {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.48) !important;
  z-index: 1024;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greyIcon {
  color: #616161 !important;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15) !important;
  z-index: 1024;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-shade-full {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.48) !important;
  z-index: 1024;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconHelp {
  font-size: 14px;
  color: $grey4;
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0);
}

.uppercase {
  text-transform: uppercase !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f9f9f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  //background: $grey-400;
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.37);
  // border-radius: 24px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

::-webkit-scrollbar-thumb:active {
  box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.54);
  // border-radius: 24px;
}

.bg-light {
  background-color: #f5f5f5 !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.tex-align-center {
  text-align: center !important;
}

.tex-align-left {
  text-align: left !important;
}

.underline {
  text-decoration: underline !important;
}

.star-icon {
  color: #ddd !important;
  font-size: 1.5em !important;
  position: relative !important;
}

.star-icon:before {
  color: #ffc107 !important;
  content: attr(data-icon) ' ' !important;
  position: absolute !important;
  left: 0 !important;
  overflow: hidden !important;
}

.sec-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: inherit;
  width: 100% !important;
}

.cke_top {
  border-radius: 8px !important;
}

.cke_reset {
  border-radius: 8px !important;
}

.cke_bottom {
  border-radius: 8px;
}

.filter-row {
  box-sizing: border-box;
  height: 64px !important;
  padding: 8px 25px;
  background: $gray-lighter;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
}

.text-muted {
  color: $grey !important;
}

.mat-ink-bar {
  height: 4px !important;
  border-radius: 2px;
}

.search-input {
  font-size: 17px;
  outline: none;
  padding: 4px 8px 4px 16px;
  /* min-width: 200px; */
  border: 0;
  box-shadow: none;
  background-color: #fcfcfc;
  height: 100%;
  border-radius: 8px;
}

.loader {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  -webkit-animation: 2s ease-in-out infinite progress;
  animation: 2s ease-in-out infinite progress;
  background: 0 0/200px 100% no-repeat #eff1f6;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  border-radius: 4px;
  width: 100%;
  height: 20px;
  display: inline-block;
  margin-bottom: 10px;
}

@-webkit-keyframes progress {
  0% {
    background-position: -200px 0;
  }

  100% {
    background-position: calc(200px + 100%) 0;
  }
}

@keyframes progress {
  0% {
    background-position: -200px 0;
  }

  100% {
    background-position: calc(200px + 100%) 0;
  }
}

.enabled {
  color: white;
  padding: 2px 8px;
  font-weight: 500;
  box-sizing: border-box;
  background-color: #4caf50;
  border-radius: 4px;
}

.disabled {
  color: white;
  padding: 2px 8px;
  font-weight: 500;
  box-sizing: border-box;
  background-color: #e53935;
  border-radius: 4px;
}

.cancelled {
  color: white;
  padding: 2px 8px;
  font-weight: 500;
  box-sizing: border-box;
  background-color: #e53935;
  border-radius: 4px;
}

.pending {
  color: black;
  padding: 2px 8px;
  font-weight: 500;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffc107;
}

.creating {
  color: black;
  padding: 2px 8px;
  font-weight: 500;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffc107;
}

.revision {
  color: black;
  padding: 2px 8px;
  font-weight: 500;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ff9800;
}

.published {
  color: white;
  padding: 2px 8px;
  font-weight: 500;
  box-sizing: border-box;
  background-color: #4caf50;
  border-radius: 4px;
}

.ck.ck-dropdown {
  width: 100%;
  max-width: 80px !important;
}

.ck-content {
  min-height: 80px !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.ck.ck-toolbar {
  border-top-right-radius: 4px !important;
  border-top-left-radius: 4px !important;
}

.remove-material-form-padding-bottom {
  .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }
}
