<div class="container-profile py-3">
  <mat-tab-group [color]="'accent'">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>account_circle</mat-icon>
        <span class="mat-body-2 uppercase ml-2"> Mi perfil </span>
      </ng-template>
      <ng-template matTabContent>
        <app-editar-perfil *ngIf="user" [user]="user" (save)="updateUser($event)"></app-editar-perfil>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>lock_open</mat-icon>
        <span class="mat-body-2 uppercase ml-2"> Cambiar contraseña </span>
      </ng-template>
      <ng-template matTabContent>
        <app-change-pass *ngIf="user" [userId]="user?.id" (changePassword)="changePassword($event)"></app-change-pass>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
