<div class="form">
    <h4>{{ data.warehouseMovementDetail ? 'Editar Detalle Movimiento' : 'Crear Detalle Movimiento' }}</h4>
    <mat-divider class="my-4"></mat-divider>
    <form *ngIf="WarehouseMovementDetailForm" [formGroup]="WarehouseMovementDetailForm">
      <div class="row mb-1">
        <div class="form-group col-md-6">
            <label class="border border-success">Importe: {{ amount}}</label>
        </div>
      </div>
       <div class="row mb-2">
         <div class="form-group col-md-6">
           <mat-form-field class="w-100" appearance="outline">
             <mat-label>Cantidad:</mat-label>
             <input  matInput formControlName="cantidad" maxlength="19" (keyup)="getShowAmount($event)"/>
             <mat-error *ngIf="this.cantidadControl.errors?.required"> {{ 'La cantidad es'}} <strong>requerida</strong></mat-error>
             <mat-error *ngIf="this.cantidadControl.errors?.isDecimalFijo154"> {{ 'La cantidad es numérica '}} <strong>la parte entera no debe exceder de 15 números y la parte decimal de 4 números</strong> </mat-error>
           </mat-form-field>
         </div>
           <div class="form-group col-md-6">
           <mat-form-field class="w-100" appearance="outline">
             <mat-label>Precio:</mat-label>
             <input matInput formControlName="precio" maxlength="19" (keyup)="getShowAmount($event)"/>
             <mat-error *ngIf="this.precioControl.errors?.required"> {{ 'El precio es'}} <strong>requerido</strong></mat-error>
             <mat-error *ngIf="this.precioControl.errors?.isDecimalFijo172"> {{ 'El precio es numérico'}} <strong>la parte entera no debe exceder de 17 números y la parte decimal de 2 números</strong></mat-error>
           </mat-form-field>
         </div>
       </div>
      <div class="row mb-2">
        <div class="form-group col-md-6">
         <mat-form-field class="w-100" appearance="outline">
           <mat-label>Existencia</mat-label>
           <input matInput formControlName="existencia" maxlength="10"/>
           <mat-error *ngIf="this.existControl.errors?.isInts"> {{ 'La existencia debe ser número entre'}} <strong>0 y 2147483647</strong></mat-error>
         </mat-form-field>
        </div>
        <div class="form-group col-md-6">
          <mat-form-field class="w-100" appearance="outline">
          <mat-label>Producto</mat-label>
          <mat-select #mySelect formControlName="producto" (selectionChange)="myChangePro($event)">
            <mat-option *ngFor="let st of warehouseProduct" [value]="st.id">{{ st.descripcion }}</mat-option>
          </mat-select>
            <mat-error *ngIf="productoControl.errors?.required">La  categoría es <strong>requerido</strong></mat-error>
            <mat-error *ngIf="notSubmit" class="p-0 m-0 text-danger">Esta pareja de Producto y Movimiento ya existe</mat-error>
          </mat-form-field>

       </div>
    </div>
      <div class="row">
        <div class="form-group col-md-6">
          <mat-form-field class="w-100" appearance="outline">
          <mat-label>Unidad de Medida</mat-label>
          <mat-select #mySelect formControlName="unidad_medida">
            <mat-option *ngFor="let st of measure" [value]="st.id">{{ st.descripcion }}</mat-option>
          </mat-select>
            <mat-error *ngIf="unidad_medidaControl.errors?.required">La  categoría es <strong>requerido</strong></mat-error>
          </mat-form-field>
        </div>
         <!-- Movimiento -->
          <div class="form-group col-md-6">
            <mat-form-field class="w-100" appearance="outline">
            <mat-label>Movimiento</mat-label>
            <mat-select #mySelect formControlName="movimiento" (selectionChange)="myChangeMov($event)">
              <mat-option *ngFor="let st of move" [value]="st.id">{{ st.comentario }}</mat-option>
            </mat-select>
              <mat-error *ngIf="movimientoControl.errors?.required">La  categoría es <strong>requerido</strong></mat-error>
              <mat-error *ngIf="notSubmit" class="m-0 p-0 text-danger">Esta pareja de Producto y Movimiento ya existe</mat-error>
            </mat-form-field>

         </div>
       </div>


    </form>
    <mat-divider class="my-4"></mat-divider>
    <div class="d-flex align-items-center justify-content-end">
        <button (click)="onCancel()" mat-raised-button color="default" class="button mx-2">Cancelar</button>
        <button (click)="onSubmit(WarehouseMovementDetailForm.value)" [disabled]="!WarehouseMovementDetailForm.valid || notSubmit"
            mat-raised-button color="primary" class="button">
            {{ data.warehouseMovementDetail ? 'Aceptar' : 'Crear' }}
        </button>
    </div>
</div>
